{% extends "::base.html.twig" %}


{% block body %}

	{% if template is defined %}
		{% include template %}
	{% else %}
		{% if paginator.items|length == 0 %}
			<div>Aucun</div>
		{% endif %}
		{% for item in paginator.items %}
			<div>{{ item }}</div>
		{% endfor %}
	{% endif %}	

	{% if paginator.maxPage > 1 %}{% include 'YWCPaginatorBundle:Paginator:pagination.html.twig' %}{% endif %}

{% endblock %} 
